In [ ]:
x=10
print(x)

10

In [ ]:
x=10
y=x*2
#y=20
"""Hari"""
z=y+5 #z,x,y =operands. + = operat(print(Z)

In [ ]:
# Integer

age=25
print('age:',age)
#name="hari12"

age: 25

In [ ]:
#float

Temperature=36.6
print(Temperature)

36.6

In [ ]:
#string
name="hari ram"
print(name)

hari ram

In [ ]:
[]a,b,c,d=10,"hi",12.34,True
[]type(a)

SyntaxError: invalid syntax (<ipython-input-16-ccbbf17497b6>, line 1)

In [ ]:
[] print('a:,a,type(a))

SyntaxError: invalid syntax (<ipython-input-15-0a88ba5f65d3>, line 1)

In [ ]:
a=10
b=20

c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
h=a//b

print("addition:\n",c)
print("sub:\t",d)
print("mul:",e)
print("div:",f)
print("Modulo:",g)
print("floor:",h)

addition:
 30
sub:	 -10
mul: 200
div: 0.5
Modulo: 10
floor: 0

In [ ]:
# Assignmentoperator

a=2

a+=2 # a=a+2
print(a)
a/=2 # a=a-2
print(a)

4
2.0

In [ ]:
# bitwise operator
a=10 # binary representation: 1010
a&=2 #=a&2

# and .or ,not,xor = logical operator
# bitwise operator = and,or,not,xor =work on bit . number will be coverted int
a=10
b=20
if a<b and a!=b: #a<b =true/1, a!=b =true/1 o/p =1
  print("true")
  """
  condition for and operator/gate
  1=true 1= true o/p =1 true
  1=true 0=false o/p =0 false
  0=true 1= false o/p =0 false
  0=false 0=false o/p =0false
  """

true

In [ ]:
x=10
y=20

x_binary=bin(x)
y_binary=bin(y)

print(f"binary representation of {x} is {x_binary}")
print(f"binary representation of {y} is {y_binary}")

binary representation of 10 is 0b1010
binary representation of 20 is 0b10100

In [ ]:
num =10

# Convert decimal to binary
binary_representation = bin(num)
print(binary_representation) #output: 0b1010

0b1010

In [ ]:
#convert decimal to octal

octal_representation = oct(num)
print(octal_representation) #output: 0o12)

# Convert decimal to hexadecimal

hexadecimal_representation =hex(num)
print(hexadecimal_representation)

0o12
0xa

In [ ]:
#Conver binary string to decimal
binary_string ="1010"
decimal_from_binary = int(binary_string,2)
print(decimal_from_binary)

10

In [ ]:
# Convert octal string to decimal
octal_string = "12"
decimal_from_octal = int(octal_string, 8)
print(decimal_from_octal)  # Output: 10

# Convert hexadecimal string to decimal
hexadecimal_string = "A"
decimal_from_hexadecimal = int(hexadecimal_string, 16)
print(decimal_from_hexadecimal)  # Output: 10

10
10

In [ ]:
# Comparison operators

a = 10
b = 20

print(a<b) #true (less than)
print(a>b) #false (greater than)
print(a<=b) #true (less than or equal to)
print(a>=b) #false (greater than of equal to)
print(a==b) #false #if the remainder is zero ,it is true or else false
print(a!=b) #true ( not equal)

True
False
True
False
False
True

In [ ]:
#binary to decimal_from_binary

[] 1 = 2^3 + 0 * 2^2 + 1 * 2^1 + 0 * 2^0

SyntaxError: invalid syntax (<ipython-input-15-b04a4c579b9f>, line 3)

In [1]:
for i in range(1,35):
  print(i,"6=",i*6)

1 6= 6
2 6= 12
3 6= 18
4 6= 24
5 6= 30
6 6= 36
7 6= 42
8 6= 48
9 6= 54
10 6= 60
11 6= 66
12 6= 72
13 6= 78
14 6= 84
15 6= 90
16 6= 96
17 6= 102
18 6= 108
19 6= 114
20 6= 120
21 6= 126
22 6= 132
23 6= 138
24 6= 144
25 6= 150
26 6= 156
27 6= 162
28 6= 168
29 6= 174
30 6= 180
31 6= 186
32 6= 192
33 6= 198
34 6= 204

In [2]:
a=int(input("enter a number a="))
b=int(input("enter a number b="))
print(a+b)
print(a*b)
print(a-b)
print(a%b)

enter a number a=10
enter a number b=23
33
230
-13
10

In [3]:
a="hello world"
b=1.2
c=2

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'float'>
<class 'int'>

In [6]:
user_name=input("enter your user name:")
password=input("enter you password:")
confirm=input("re-enter your password:")
if password==confirm:
  print("Account create Successfully:")
else:
  print("user name or password incorrect")

enter your user name:hari
enter you password:ram
re-enter your password:ram
Account create Successfully:

In [16]:
server_user="admin"
server_password="admin123"
user_name=input("enter your user name:")
password=input("enter you password:")
if password==server_password and server_user==user_name:
 print("successfully loged into your account ")

else:
  print("user name or passwor incorrect")

enter your user name:hari
enter you password:hari
user name or passwor incorrect

In [17]:
a=int(input("enter first number: " ))
b=int(input("enter the second number: "))
c=int(input ("enter third number: "))

if a>b:
    if a>c:
        if b>c:
            print(" second largest number is ",b)
        else:
            print("second largest number is ",c)
    else:
        print("second largest number is ",c)
else:
    if b>c:
        if a>c:
            print("second largest number is ",a)
        else:
            print("second largest number is ",c)

enter first number: 10
enter the second number: 11
enter third number: 33

In [18]:
for i in range(0,10):
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********

In [20]:
for i in range(0,11):
    print("Hari")

Hari
Hari
Hari
Hari
Hari
Hari
Hari
Hari
Hari
Hari
Hari

In [21]:
my_list = [1, 2, 3, "four", 5.0]
print(type(my_list))

<class 'list'>

In [22]:
my_tuple = (1, 2, 3)
other_tuple = (4, 5)

# Example of for loop to iterate over a list
fruits = ["apple", "banana", "cherry"]
for fruit  in fruits: # for , fruit = each item in fruits (var)
    print(fruit) # print(each item)

# datatypes = a ,b,c ,0,1,2 ,abc124, 23.4556
# "anjana" ,"a","b", "123abc" , "234" - string /character
# 1,2,3 -integer . -1 ,-2 = signed integer
# 23.45 , 3.5 , 78.99999 - float
# 12.3456789043 - double
# a= ["anjana",1 ,"abc123",23.45 ] -list ,store different datatype ,modify
# b= ("anjana",1, "as34", 23.56) - tuple , store different datatype , not modifiable

In [28]:
a=[1,2,3,"abc","abc12",88.9]
for i in a:
  print(i)

1
2
3
abc
abc12
88.9

In [29]:
i=1
while i<=5:
  print(i)
  i +=1
  while True:
    print(i)
    i +=1
    if i>5:
      break

1
2
3
4
5

In [30]:
i = 10 # var = value

if i%2 == 0: #if #condition ,if the condition i%2 == 0 (10/2 = remainder 0) satisfies print even
  print("EVEN")

if i%2 != 0: #if the condition i%2 == 0 (10/2 != remainder 0) satisfies print odd
    print("ODD")

#example 2
a= 10
b=20
if a<b:
  print("a is less than b") #o/p
if a>b:
  print("a is greater than b")

EVEN
a is less than b

In [32]:
# String to Integer
age_str = "25" # ""=character/string if not integer ,decimal .datatype of 25= str  ,type()
age_int = int(age_str)
print("Age as integer:", age_int)
print("Type of age_int:", type(age_int))

# String to Float
temp_str = "36.6"
temp_float = float(temp_str) #float("36.6")
print("Temperature as float:", temp_float)
print("Type of temp_float:", type(temp_float))

# Integer to String
age_int = 25 #25 =integer ,bcuz we havent used ""
age_str = str(age_int)
print("Age as string:", age_str)
print("Type of age_str:", type(age_str))

# Float to Integer
temp_float = 36.6
temp_int = int(temp_float)
print("Temperature as integer:", temp_int)
print("Type of temp_int:", type(temp_int))

# Integer to Boolean
value = 1
value_bool = bool(value)
print("Value as boolean:", value_bool)
print("Type of value_bool:", type(value_bool))

# String to List
string = "hello"  # variable =value
list1 = ["hello", " all", " welcome", 123 , 34.5 ] # storing heterogenous element - different datatype ,mutable -modify
string_list = list(string)
print("String as list:", string_list)
print("Type of string_list:", type(string_list))

# List to Tuple
list_example = [1, 2, 3]
list_tuple = tuple(list_example) # strore heterogenous element , immutable -can't modify
print("List as tuple:", list_tuple)
print("Type of list_tuple:", type(list_tuple))

Age as integer: 25
Type of age_int: <class 'int'>
Temperature as float: 36.6
Type of temp_float: <class 'float'>
Age as string: 25
Type of age_str: <class 'str'>
Temperature as integer: 36
Type of temp_int: <class 'int'>
Value as boolean: True
Type of value_bool: <class 'bool'>
String as list: ['h', 'e', 'l', 'l', 'o']
Type of string_list: <class 'list'>
List as tuple: (1, 2, 3)
Type of list_tuple: <class 'tuple'>